.wrapper{
    padding: 40px 0;
    text-align: center;
}

.movieForm{
    display: inline-block;
    margin: 0 auto 30px auto;
}

.movieInput{
    width: 250px;
    padding: 5px;
    border: 2px solid #061161;
    border-radius: 5px;
}

.movieBtn{
    width: 50px;
    padding: 5px;
    background-color: #061161;
    color: #ffff;
    border: 2px solid #061161;
    transition: color 200ms linear;
    transition: border 200ms linear;
    transition: all 200ms linear;
    border-radius: 5px;
    margin-left: 5px;
}

.movieBtn:hover,
.movieBtn:focus{
    background-color: #fff;
    color: #061161;
    border: 2px solid #061161;
}